.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  max-width: 400px;
}

.product-card button {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #4F8;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
